<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
</head>
<body>
    <header class="app-header" th:fragment="header">
    <div class="app-left">
      <div class="app-toggle">
           <i class="fa fa-bars" id="sidebar_toggle"></i>
       </div>
       
       <div class="app-leftarea">
           <span>TRANSPORTADORA</span>
       </div>
     </div>
       <div class="profile">
           <img th:src="@{/img/perfil.png}" alt="foto"/>
           <span>MURILO FERNANDES</span>
           <div class="logout">
             <i class="fa fa-sign-out"></i> 
           </div>
       </div>
    
    </header>

</body>
</html>